src/main/resources/wsdl/LoginLdap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.th.co.baiwa" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.th.co.baiwa" xmlns:intf="http://ws.th.co.baiwa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.th.co.baiwa" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="impl:Response"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Response">
    <sequence>
     <element name="accessAttr" nillable="true" type="xsd:string"/>
     <element name="cnName" nillable="true" type="xsd:string"/>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="officeCode" nillable="true" type="xsd:string"/>
     <element name="officeId" nillable="true" type="xsd:string"/>
     <element name="statusCode" nillable="true" type="xsd:string"/>
     <element name="success" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="userEngName" nillable="true" type="xsd:string"/>
     <element name="userEngSurname" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="userThaiId" nillable="true" type="xsd:string"/>
     <element name="userThaiName" nillable="true" type="xsd:string"/>
     <element name="userThaiSurname" nillable="true" type="xsd:string"/>
     <element name="roles" type="impl:Roles" minOccurs="0" />
    </sequence>
   </complexType>
    
   <complexType name="Roles">
     <sequence>
       <element name="role" type="impl:Role"	 minOccurs="0" maxOccurs="unbounded" />
     </sequence>
   </complexType>
   
   <complexType name="Role">
     <sequence>
       <element name="roleName" type="string" minOccurs="1" />
     </sequence>
   </complexType>
   
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginLdap">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginLdapSoapBinding" type="impl:LoginLdap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginLdapService">

      <wsdl:port binding="impl:LoginLdapSoapBinding" name="LoginLdap">

<!--          <wsdlsoap:address location="http://localhost:8181/LdapUserLogin/services/LoginLdap"/> -->
         <wsdlsoap:address location="http://150.95.24.42:8080/LdapUserLoginNew/services/LoginLdap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
